:root {
    --primary-color: #0B5ED7;
    --secondary-color: #1F7A63;
    --accent1-color: #F4B400;
    --accent2-color: #C5532D;
    --body-text-color: #1F2933;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

a {
    color: #fff;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #000;
}

/* TODO work on the article section*/
article {
    color: #000;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 200px;
    border: #000;
    margin: 10px 10px;

}