:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #f3f739;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

header nav ul a {
    color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    font-family: var(--body-font);
    color: var(--accent2-color);
}

.socialmedia a,
img {
    text-decoration: none;
    width: 55px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    bottom: 5px;
    color: var(--secondary-color);
    opacity: 0.8;
    background-color: var(--accent1-color);
    text-align: center;

}

.hero article img {
    opacity: 1;
    float: right;
    width: 150px;
    height: auto;
    padding: 2.5px;
}

footer {}