:root {
    --primary-color: #055a05;
    --secondary-color: #ffdd92;
    --accent1-color: #264653;
    --accent2-color: #f3f739;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;

}

header nav ul a {
    color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: #1f1d1d;
}

header,
main,
footer {
    width: 840px;
    margin: auto;
    background-color: #fff;
}

h1,
h2 {
    font-family: var(--heading-font);
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--accent2-color);
}

h2 {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    opacity: 0.7;
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
    font-family: var(--body-font);
    color: var(--primary-color);
}

.socialmedia img {
    text-decoration: none;
    width: 55px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

section p,
footer p {
    color: #000;
}

.hero article {
    position: absolute;
    bottom: 5px;
    opacity: 0.8;
    background-color: var(--accent1-color);
    text-align: center;
    color: var(--secondary-color);
}

.hero article p {
    color: var(--secondary-color);
}

.hero article img {
    opacity: 1;
    float: right;
    width: 150px;
    height: auto;
    padding: 2.5px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
    padding: 5px;
}