nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

main {
  max-width:  850px;
}

aside {
  width: 250px;
  margin: 10px 10px;
  border: 1px solid black;
  padding: 5px;
  background-color: grey;
  color: aqua;
  text-align: center;
  
}

aside img{
  width: 200px;
  height: auto;
}

p {
  padding: 10px;
}

