:root {
  --primary-color: #6491cd;
  --primary-text-color: #000;
  --padding: 10px;
}

nav {
  background-color: var(--primary-color);
  padding: var(--padding);
}

nav a {
  color: var(--primary-text-color);
  display: block;
  padding: var(--padding);
}

h1 {
  color: var(--primary-text-color);
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px rgb(128, 128, 128);
}

main {
  max-width: 800px;
}

aside {
  width: 45em;
  margin: 1em;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  text-align: center;

}

aside img {
  width: 200px;
  height: auto;
}

p {
  padding: var(--padding);
}

footer {
  color: var(--primary-text-color);
  margin-top: 15px;
  border-top: 2px dashed var(--primary-color);
  text-align: center;
}